@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor__primaria: #000000;
    --cor__secundaria: #F5F7F8;
    --cor__terciaria: #4a26c2;
    --fonte__principal: "Montserrat", system-ui;
    --fonte__personalizada: "Krona One", system-ui;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background: var(--cor__primaria);
    color: var(--cor__secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.cabecalho{
    display: flex;
    width: 1440px;
    padding: 32px 0;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.cabecalho__titulo{
    font-family: var(--fonte__personalizada);
    font-size: 1rem;
    font-weight: 700;
}

.menu__lista{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.menu__link{
    font-family: var(--fonte__principal);
    font-size: 1em;
    font-weight: 500;
}

.banner{
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner__conteudo{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner__container__conteudo{
    width: 60rem;
}

.banner__titulo{
    font-family: var(--fonte__principal);
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

strong{
    color: var(--cor__terciaria);
}

.banner__texto{
    font-family: var(--fonte__principal);
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.banner__lista__links{
    display: flex;
    gap: 32px;
}

.banner__links{
    font-family: var(--fonte__principal);
    display: flex;
    align-items: center;
    gap: 8px;
}

.banner__perfil--img{
    width: 20%;
    border-radius: 50%;
}